{% extends 'base.html.twig' %}

{% block body %}

    <style type="text/css">
        html, body {
            height: calc(100% - 52px);
            margin: 0;
        }

        body {
            min-height: 100%;
        }

        #wrapper {
            min-height: 100%;
            margin: 0 auto;
        }
    </style>

    <div class="row" id="wrapper" style="width: 100%; background-image: url({{ asset('resources/images/BlueWeave.png') }})">
        <div class="col-xs-8 col-xs-push-2" style="background-color: white; opacity: 0.90">
            <h2><b>Frequently Asked Questions</b></h2><br>

            <h5><b>Do you use real paracord?</b></h5>
            Yes! all of our paracord is USA made 550 genuine paracord.
            <br><br>

            <h5><b>Paracord? What is that?</b></h5>
            Paracord is a type of cord which is used for parachutes - it is very strong and 550 paracord can support up to 550 lbs. It also comes in many colors!
            <br><br>

            <h5><b>Where is your shop located?</b></h5>
            All our products are made and sold in Vilnius, Sv. Stepono 17.
            <br><br>

            <h5><b>Do you ship to X country?</b></h5>
            Currently, we do not support shipping to other countries.
            <br><br>

            <h5><b>Do you do custom orders?</b></h5>
            Depends on the order, but we will try our best! You can contact us at info@paraweave.com or through Facebook.
            <br><br>

            <h5><b>Why does model X not have size choices?</b></h5>
            Most of our models with accents have adjustable sizes, so it should suit most wrists.
            <br><br>

            <h5><b>What is my wrist size?</b></h5>
            Wrap a cord around your wrist and measure it. If it's around 16 cm, Medium should fit you. If it's around or less than 14 cm, go for Small, and if its around or more than 18 cm, go for Large.
            <br><br>

            <h5><b>Lorem Ipsum?</b></h5>
            Dolor sit amet!
            <br><br>

            <h5><b>Did anyone even ask these questions?</b></h5>
            Nope, I made them up myself.
            <br><br>


            <h5><b>I still have a question...</b></h5>
            And we will be glad to answer it! Be sure to contact us at info@paraweave.com or through Facebook!
            <br><br>




        </div>
    </div>

{% endblock %}

