{% extends 'base.html.twig' %}

{% block body %}

    <h2>Do you really want to delete this?</h2><br>
    <b>Model name: {{ model.name }}</b>
    <br><br>

    {{ form_start(form) }}
    <button type="submit" class="btn btn-danger">Delete</button>
    {{ form_end(form) }}
    <br>

    <a href="{{ path('model_list') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-arrow-left"></i>
        Back to list
    </a>

{% endblock %}